.btn-space {
    margin-right: 5px;
}

.nopadding {
    padding-bottom: 10px !important;
}

.navbar-expand {
    background-color: antiquewhite;
}

.navbar-dark {
    background-color: antiquewhite;
}